<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>




<body>

  <%- include ("../partials/nav.ejs") %>

<div class="jumbotron text-center">
  <div class="container">
    
    <h1>HEHE OR NOT HEHE</h1>
    </div>
</div>
<div class="container">
  <div>
    <p>Hello there, please ignore everything here except for my three buttons. These are the not the divs you are looking for</p>
    
    <section>

      <form action="https://radiant-woodland-63780.herokuapp.com//emr/id">
      <button>Get a single record</button> <br>
      </form>
      <br>
      <form action="https://radiant-woodland-63780.herokuapp.com//emr/">
        <button>Get all records</button> <br>
      </form>
      <br>
    <form>
      <button>Add a record</button> 
    </form>
    <br>
    </section>
  
  </div>
  
</div>


</body>
</html>
